/* Colours */
 $brandColour: #BA7314;
 $activeColour: #BF8C2C;
 $warningColour: #E20F0F;
 $tab: #E4DDDD;
 $drinks: #D9A404;
 $drinksActive: #BF8C2C;
 $text: black;

/*Navigation Section */
    nav{
        background-color: $brandColour;
        width: 101%;
        position: relative;
        display: flex;
        flex-direction: row;
        margin: -0.5% -0.5% 0 -0.5%;
        padding: 0 2.5rem;
        h1, a {
            color: $text;
            margin-top: 0.5%;
            margin-bottom: 0.5%;
        }

        h1 {
            font-size: 4.4rem;
            font-family: 'Sonsie One', cursive;
        }

        a {
            font-family: 'Roboto', sans-serif;
            font-size: 1.75rem;
            
            &:hover {
                font-size: 1.78rem;
            }
        }
    }

    .linkButtons {
        position: relative;
        display: flex;
        flex-direction: row;
        padding-left: 40%;
        a{
            padding-top: 15%;
            padding-right: 10%;
        }
    }


/*Footer section */
    footer {
        background-color: $brandColour;
        color: $text;
        text-align: center;
        font-weight: 500;
        padding-top: 0.125rem;
        padding-bottom: 3rem;
        width: 101%;
        margin: 0% -0.5% -0.5% -0.5%;
    }