@use 'components';

/* Sl-Cards */
.CaffeItem {
    width: calc(31%);
    margin: 0 0.5% 2%;
}

.CaffeItem::part(base):hover{
    background: #C46F34;
}

sl-card::part(footer) {
    div {
        display: flex;
        flex-direction: row;
    }
}

/* Button */

@mixin button {
    padding: 0.5% 2%;
    background-color: $brandColour;
    font-size: 1.35rem;
}

/* Shop navigation bar */